.header {
    text-align: center;
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 40px;
}

body {
    background-color: rgba(255, 218, 192, 0.473);
}

.card-group {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.destination {

    color: black;
    padding: 50px;
    width: 280px;

}

#otherBox {
    background-color: white;
    color: black;
    padding: 50px;
    width: 280px;
}

.center {
    text-align: center;
}

.images {
    width: 100%;
    height: 160px;
    object-fit: cover;
    margin-bottom: 10px;
}

.button{
    
    color: white;
    margin-top: 20px;
    background-color: rgba(165, 42, 42, 0.483);
    border-color: rgba(165, 42, 42, 0.483);
}

.date{
    text-align: center;
    margin-top: 40px;
    color:rgba(165, 42, 42, 0.483);
}

.border{
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    max-width: 800px;         
    padding: 0 20px; 
    background-color: white;
}

