#header {
    text-align: center;
    text-decoration: underline;
    font-size: 22pt;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 40px;
}

html body {
    color: #404040;
    background-color: white;
    font-size: 11pt;
    font-family: serif;
}
#backgroundphoto{
    background-image:url(/pictures/background.png);
}
.card-group {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;

}

.destination {

    color: black;
    padding: 50px;
    width: 280px;

}

#otherBox {
    background-color: rgba(165, 42, 42, 0.106);
    color: black;
    padding: 50px;
    width: 280px;
}

.center {
    text-align: center;
}

.images {
    width: 100%;
    height: 160px;
    object-fit: cover;
    margin-bottom: 10px;
}

.button {

    color: white;
    margin-top: 20px;
    background-color: rgba(165, 42, 42, 0.483);
    border-color: rgba(165, 42, 42, 0.483);
}

.date {
    text-align: center;
    margin-top: 40px;
    color: rgba(165, 42, 42, 0.483);
}

.border {
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    padding: 0 20px;
    background-color: white;

}

.h3class {
    margin-top: 50px;
    margin-bottom: 40px;
}

h2,
h3,
h4,
h5,
h6 {
    text-align: left;
    font-size: 18pt;
    font-weight: normal;
    text-decoration: underline;
}

.card-text {
    margin-top: 50px;
    margin-bottom: 40px;
}

ol,
ul {
    padding-left: 0;
    text-align: center;
    list-style-position: inside
}

#blockquote {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #FFFFA8;
    font-style: italic;
}